.add-photo-container {
    display: flex;
    gap:10vw;
    max-height: 100vh;
background-color: rgb(172, 169, 169);
color: honeydew;
}

.add-photo-container .adding {
   width:40vw;
   padding: 80px;
   height: 100vh;
}
.add-photo-container .adding h1{
    color: rgb(236, 232, 232);
    margin-left: 100px;
}

.add-photo-container .side-image{
    
    width: 50vw;
    background: url("https://source.unsplash.com/random") no-repeat center;
    background-size: cover;
    object-fit: cover;
    height : 100vh;
    opacity: 0.9;
    box-shadow: 3px 3px 3px 5px grey;
}
.add-photo-container .btn{
    background-color: black;
    color:white;
    margin-top: 100px;
    margin-left: 400px;
    box-shadow: 3px 2px 3px 2px grey;
    font-size: 1rem;
    height: 35px;
    width: 50px;
    font-weight: 400;
}
.add-photo-container .btn:hover{
background-color: turquoise;
}